@mixin playerCount {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;


  .left {
    background-color: #3216B0;
    @include playerCount;
  }

  .right {
    background-color: #00A08A;
    @include playerCount;
  }

  .text {
    font-size: 640px;
  }

  .aborter {
    width: 260px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: #00A08A;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}